link(rel="stylesheet", href="/css/navi.css")
.navi.d-flex.justify-content-between.align-items-center.p-5.text-white#header
	.logo.font-weight-bold.text-decoration-none
		a(href="/") LOGO
	ul.d-flex.align-items-center
		//- li.mr-4
		//- 	a(href="/gbook_ajax") Ajax
		li.mr-4
			a(href="/gbook") 목록
		li.mr-4
			a(href="/gbook/in") 글쓰기
		-if(loginUser) {
			li.mr-4.position-relative
				a(href="#")
					i.fas.fa-user-circle.mr-2
					span= loginUser.name
				ul.mem-edit
					li
						a(href="/mem/edit") 정보수정
					li
						a(href="/mem/logout") 로그아웃
		-} else {
			li.mr-4
				a(href="/mem/join") 회원가입
			li.mr-4
				a(href="/mem/login") 로그인
		-}
		-if(loginUser) {
			-if(loginUser.grade == 9) {
				li.mr-4
					a(href="/mem/list") 회원리스트
			-}
		-}
script(src="/js/navi.js")