doctype html
html(lang="ko")
	head
		include ./inc/header.pug
	body
		include ./inc/navi.pug
		.container.gbook-in.my-3
			.jumbotron
				h2.in-title= `${title}`
			form(action="/gbook_save" method="post" name="gForm" onsubmit="return onSend(this);" enctype="multipart/form-data")
				ul.row
					li.col-md-2
						div.py-2 작성자
					li.col-md-10.my-3
						input.form-control.in-input(type="text" name="writer" placeholder="작성자")
				if !loginUser
					ul.row
						li.col-md-2
							div.py-2 비밀번호
						li.col-md-10.my-3
							input.form-control.in-input(type="password" name="pw")
				ul.row
					li.col-md-2
						div.py-2 남기실 말
					li.col-md-10.my-3
						textarea.form-control.in-input(name="comment" placeholder="남기실 말")
				ul.row
					li.col-md-2
						div.py-2 첨부파일
					li.col-md-10.my-3
						input.form-control-file(name="upfile" type="file")
						//- label.custom-file-label(for="customFile") Choose file
				div.p-3.text-center.mt-5
					button.btn.bt(type="submit") 
						i.fas.fa-check &nbsp;저장
					button.btn.bt(type="reset") 다시작성

		include ./inc/footer.pug
		include ./inc/script.pug
