@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

html, body {
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	background-color: #1f1f1f;
}

a {color: white;}
a:link {color: white;}
a:visited {color: white;}
a:hover {color: #7e7e7e; text-decoration: none;}
a:active {color: white;}

.jumbotron {
	background-color: #1f1f1f;
	color: #ffffff;
	padding: 0;
}
.h2 {
	font-size: 6rem;
	font-weight: 400;
}
.sub-title {
	margin-left: 1.5rem;
	font-size: 3rem;
}
.new {
	margin-left: 0.5rem;
	font-weight: 600;
	font-size: 0.75rem;
	color: #ffffff;
}


.table {
	color: #ffffff;
	font-weight: 400;
}


thead th {
	border-top: none !important;
	border-bottom: none !important;
	font-weight: 400;
}


.container tbody > tr:hover {
	background-color: #ffffff;
	color: #1f1f1f;
}
tbody td:first-child {
	padding-left: 25px;
}

.icon {
	margin-left: 0.5rem;
	padding: 2px;
	border-radius: 2px;
	color: #f9f9f9;
}

.icon.icon-new {
	background-color: darksalmon;
	line-height: 1rem;
	padding: 2px 3px;
	display: inline-block;
}
.icon.icon-file {
	background-color: darkseagreen;
}
.icon.icon-img {
	background-color: darkkhaki;
}


.btChg, .btRev, .btRev2, .popup-close {
	border: 1px solid #ffffff;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 31px;
	width: 31px;
	height: 31px;
}



.pager span {
	border: none;	
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
}
.pager span:hover {
	border: none;	
	color: #7e7e7e;
	background-color: rgba(0, 0, 0, 0);
}

/* Modal */
.modal-content {
	background-color: #1f1f1f;
	padding: 0;
}
.modal-body {
	padding: 2rem 3rem 1rem 3rem;
}


.modal-body tbody td {
	border-top: none !important;
	border-bottom: 1px solid #ffffff;
	padding: 1rem 0;
}

.modal-footer {
	border-top: none;
	padding-bottom: 2rem;
}

.bt {
	border: 1px solid #ffffff;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
}
.bt:hover {
	background-color: #ffffff;
	color: #1f1f1f;
}


#update-modal input, #update-modal textarea, .in-input {
	background-color: #1f1f1f;
	color: #ffffff;
	border: none;
}
#update-modal input:focus, #update-modal textarea:focus, .in-input:focus {
	box-shadow: none;
	color: #ffffff;
	background-color: rgb(66, 66, 66);
}


#remove-modal h5 {
	color: #ffffff;
}
#remove-modal .modal-header {
	border-bottom: none;
}
#remove-modal .modal-header span {
	color: #ffffff;
}
#remove-modal .modal-body {
	color: #ffffff;
}
#remove-modal input, #remove-modal textarea {
	background-color: #1f1f1f;
	color: #ffffff;
	border: none;
}

#remove-modal input:focus, #remove-modal textarea:focus {
	box-shadow: none;
	background-color: rgb(66, 66, 66);
}

#remove-modal .modal-body .row {
	border-bottom: 1px solid #ffffff;
	padding: 0;
	margin-bottom: 3rem;
	font-weight: 400;
}



/* gbook_in */

.in-title {
	font-size: 4.25rem;
	font-weight: 400;
}
.container {
	color: #ffffff;
}

.gbook-in ul:not(:last-child) {
	border-bottom: 1px solid #ffffff;
}

.gbook-in ul {
	align-items: center;
}
.gbook-in ul > li > div {
	font-size: 1.125rem;
}
